<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="QLDSV.Properties.Settings.QLDSVConnectionString" connectionString="Data Source=DESKTOP-KCI30C9\N17DCCN171;Initial Catalog=QLDSV;Persist Security Info=True;User ID=sa;Password=bua123"
      providerName="System.Data.SqlClient" />
    <add name="QLDSV.Properties.Settings.QLDSVConnectionString1"
      connectionString="Data Source=DESKTOP-KCI30C9\SERVER_1;Initial Catalog=QLDSV;Persist Security Info=True;User ID=sa;Password=bua123"
      providerName="System.Data.SqlClient" />
    <add name="QLDSV.Properties.Settings.QLDSVConnectionString2"
      connectionString="Data Source=DESKTOP-KCI30C9\SERVER_3;Initial Catalog=QLDSV;Persist Security Info=True;User ID=sa;Password=bua123"
      providerName="System.Data.SqlClient" />
    <add name="QLDSV.Properties.Settings.QLDSVConnectionString0"
      connectionString="Data Source=DESKTOP-KFBV6L6\N17DCCN171;Initial Catalog=QLDSV;Persist Security Info=True;User ID=sa;Password=bua123"
      providerName="System.Data.SqlClient" />
    <add name="QLDSV.Properties.Settings.QLDSVConnectionString01"
      connectionString="Data Source=DESKTOP-KFBV6L6\SERVER_1;Initial Catalog=QLDSV;Persist Security Info=True;User ID=sa;Password=bua123"
      providerName="System.Data.SqlClient" />
    <add name="QLDSV.Properties.Settings.QLDSVConnectionString02"
      connectionString="Data Source=DESKTOP-KFBV6L6\SERVER_3;Initial Catalog=QLDSV;Persist Security Info=True;User ID=sa;Password=bua123"
      providerName="System.Data.SqlClient" />
    <add name="QLDSVConnectionString01" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-KFBV6L6\SERVER_1;user id=;password=;initial catalog=QLDSV;Persist Security Info=true" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>